.overlay {
    margin: 20px 0px;
    width: 0px;
    box-shadow: 1px 1px 2px 1px #737373;
    background-color: white;
    border-radius: 10px;
    padding: 2px 0px;
    height: 0px;
    opacity: 0;
    transition: .5s;
    overflow: hidden;
}

.overlayShow {
    display:block !important;
    opacity:1 !important;
    transition:.5s;
    height:170px;
    padding: 5px 0px;
    width:95%;
}

.closeBtn {
    display: inline;
    /* float: right; */
    position: absolute;
    right: 5%;
    background: none;
    border: none;
    color: rgba(0, 0, 0, 0.54);
    cursor: pointer;
}

.closeBtn:hover {
    background-color: transparent !important;
    
}


:global(.maximize) {
    height:320px;
}