.flexbox {
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 10px auto 0px;
    height:30px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.metText {
    width:25%;
    text-align:center;
}

.flexbox button {
    background: none;
    border: none;
    width: 15%;
    background-color: #0285c3;
    color:white;
    cursor:pointer;
}

.hr {
    display:none;    
    width:25%;    
}
.actBtns {
    background: none;
    border: none;
    display:block;
    margin:10px auto;
    background-color: #0285c3;
    color:white;
    cursor:pointer; 
    border-radius:5px;
    width:65%;
    padding:2px;
    height:30px;
}
.denom {    
    display:none;
    margin: 0px auto 15px;
    border-radius: 20px;
    width: 40px;
    box-sizing: content-box;
    height: 20px;}
.num {
    display:none; 
    text-align: center; 
    margin:auto;
    width:40px;
    height:20px;
    border-radius:20px;
    border: 1px solid rgb(169,169,169)}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 15px;
    text-overflow: '';
}
button:hover {
    background-color:#2abaff;
    transition:.1s;
}

.timeSigLbl {
    display:none;
    margin: 0px auto 10px;
}

.expand {
    border-bottom: 1.5px solid rgba(0,0,0,.54);
    border-right: 1.5px solid rgba(0,0,0,.54);
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    display: block;
    margin: auto;
    bottom: 30px;
    right: 20px;
    transition: .5s;
    cursor: pointer;
}

:global(.maximize) .denom {display:block;}
:global(.maximize) .num {display:block;}
:global(.maximize) .expand {transition: .5s;transform: rotate(225deg)}
:global(.maximize) .hr {display:block;}
:global(.maximize) .timeSigLbl{display:block;}