.SongsNav {
    max-height: 100%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}
.CurrentDir {
    text-align:left;
    color:#f4ebee;
    margin-left:1%;
    position: fixed;
    top:5%;
    left:22%;
    width: 8%;
    z-index: 10;
    margin:0;
    background-color:#4bc0d7a3;
    border-radius:10px;
    box-shadow: 2px 2px 15px 2px #f4ebee;
    padding:0px 10px

}
.CurrentDirHead {
    font-size:1.2rem;
    text-align:center;
}

.addNewSongBtn {
    position: fixed;
    bottom: 5%;
    right: 2%;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 100%;
    background: #008cce;
    border: white 2px solid;
    box-shadow: 0px 0px 2px #008cce;
    color: white;
    transition:.5s;
}
.addNewSongBtn:hover{
    cursor:pointer;
    transform: scale(1.3);
    transition:.5s;
    background-color:#2abaff;
}
.addNewFolderBtn {
        position: fixed;
        bottom: 5%;
        right: 9%;
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 100%;
        background: #008cce;
        border: white 2px solid;
        box-shadow: 0px 0px 2px #008cce;
        color: white;
        transition: .5s;
}
.addNewFolderBtn:hover {
    cursor:pointer;
    transform:scale(1.3);
    transition:.5s;
    background-color:#2abaff;
}
.loadingSongsScreen {
    width:100%;
    margin:auto;
}
.loadingIcon {
    position: fixed;
    border-radius: 200%;
    bottom: 32px;
    left: 32px;
    width: 100px;
    height: 100px;
    display: block;
    border: #0285c3 3px solid;
    background-size: 200% 200%;
    animation: AnimateIcon 1s linear infinite;
    -webkit-animation: AnimateIcon 1s linear infinite;
}
.loadingIcon:before {
    content: "";
    border-radius:200%;
    width:10px;
    height:10px;
    background:#0285c3;
    display:inline-block;
}
.loadingIcon > div {
    background: #fff;
}

@keyframes AnimateIcon {
    0% {transform: rotate(0deg)}
    25% {transform: rotate(90deg)}
    50% {transform: rotate(180deg)}
    75% {transform: rotate(270deg)}
    100% {transform: rotate(360deg)}
}

@-webkit-keyframes AnimateIcon {
    0% {transform: rotate(0deg)}
    25% {transform: rotate(90deg)}
    50% {transform: rotate(180deg)}
    75% {transform: rotate(270deg)}
    100% {transform: rotate(360deg)}
}


@media (max-width:1000px) {
    .addNewFolderBtn {
        bottom: 17%;
        right:4%;
    }

    .addNewSongBtn {
        right:4%;
    }
}

@media(min-width: 1440px) {
    .addNewFolderBtn {
        height:6rem;
        width:6rem;
    }
    .addNewSongBtn {
        height:6rem;
        width:6rem;
    }

    .addNewFolderBtn svg {
        height:2rem;
        width:2rem;
    }
    .addNewSongBtn svg {
        height:2rem;
        width:2rem;
    }
}

@media (max-width:550px) {
    .CurrentDir {
        margin-top: 56px;
        left:0;
        margin-left:13% !important;
    }
}