.LyricInput {
    display: inline-block;
    box-sizing: content-box;
    width: 60%;
    background-color: white;
    resize: none;
    border: none;
    /* box-shadow: inset 3px 2px 0px 0 #0285c3; */
    font-size: 1.5rem !important;
    font: inherit;
    padding: 25px;
    border-right: solid 5px #0285c3;
    box-sizing:border-box;
}
.LyricInput:focus {
    outline:none;
}
.LyricInput::-webkit-scrollbar {
    background-color:transparent;
    width:1%;
}
.LyricInput::-webkit-scrollbar-thumb {
    background-color:#0285c3;
}
.Container {
    height:100%;
    margin:auto;
    display:inline-block;
    width:100%;
}

.wordButtons {
    width:50%;
    box-shadow:none;
    background-color:#0285c3;
    color:white;
    border: 10px solid white;
    padding:10px;
    box-sizing: border-box;
    margin:0 auto;
    cursor:pointer;
    font-size:2.2rem;
    font-weight:bold;
}

.wordText {
    width: 40%;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
    border: #0285c3 10px solid;
    background-color: white;
    margin-top: 5px;
    color: black;
}

.wordResults {
    background-color:#2abaff;
    width:40%;
    color:black;
}

.noWordsContainer {
    display: table;
    width:100%;
    height:80%;
}

.noWords {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    color: white;
    font-size:1.5rem;
}

.Header{
    color: white;
    text-align: center;
    background-color: #0285c3;
    white-space: nowrap;
    overflow: hidden;
    width:60%;
    padding: 10px;
    box-shadow: 1px 1px 3px 0px white;
    transition: 1s;
    box-sizing:border-box;
    margin:5px 0px 0px;
    display:inline-block;
}

.Toolbar{
    width: calc(80% + 50px);
    margin: auto;
    box-sizing: inherit;
    height: 56px;
    background-color: #0285c3;
    color: white;
    display: flex;
    vertical-align: middle;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.ActionBtn {
    font-size: 1.5rem;
    background-color: #f4ebee;
    border-radius: 100px;
    margin: 15px;
    border: none;
    min-width: auto;
    padding: 5px 12.5px;
    text-align: center;
    line-height: 1;
    white-space: nowrap;
    font-size: 1.5rem;
    vertical-align: middle;
    position: relative;
    background-color: #0285c3;
    border: 1px solid white;
    transition:all ease 0.8s;

}
.Record {
    color:#b1003f;
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  

.Play {
    color: white;
    margin-left:50px;
    
}
button:focus {
    outline:none;
}
.Play:hover {
    box-shadow:inset -110px 0 0 0 #f4ebee;
    cursor:pointer;
    color:#0285c3;
}

.Record:hover {
    box-shadow:inset -100px 0 0 0 #f4ebee;
    cursor:pointer;
}

svg {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    top: 0;
    height: 100%;
}