.SidebarTool {
    height: 100%;
    width:48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row;
    font-size: 1.1rem;
    transition: .1s ease-in-out;
}

.vAlignNone{
    vertical-align: baseline;

}

.SidebarTool:hover {
    cursor: pointer;
    color: #0285c3;
    background: #f4ebee;
}

.ToolIcon {
    text-align:center;
    font-size: xx-large;
    width:100%;
}

@media(max-width:750px) {
    .ToolTitle {
        display:none;
    }
    .ToolIcon{
        text-align:center;
        width:100%;
        padding-right: 0px;
    }
}