.Navbar {
    width:100% ;
    background-color:#0285c3 ;
    position:fixed;
    display:inline-flex;
    top:0 ;
    left:0 ;
    height:5%;
    color:white ;
    z-index: 999;
}
.songHeader {
    display: inline-block;
    width: 10%;
    margin-left: 10% !important;
    margin: 0px 0px;
    /* text-align: center; */
    box-sizing: border-box;
}
.expandNav{
    position: fixed;
    display: inline;
    left: 18%;
    font-size: 1.5rem;
    top: 6px;
    cursor:pointer;
}
.songMobile{
    display:none;
}

a {
    color:inherit;
    text-decoration: none;
}

.breadCrumbs {
    margin: 0;
    color: #282c34;
    padding: 5px 20px;
    border-radius: 10px;
    /* padding: 5px 10px 5px 0px; */
    background-color: white;
    /* border-bottom-right-radius: 10px; */
    margin: 5px;
}

.breadCrumbsContainer {
    width:100%;
    margin-left:32px;
}


.Navbar ul {
    margin: 0px;
    list-style: none;
    padding: 0px;
    display: inline-flex;
    flex-flow: row;
    justify-content: flex-end;
    /* flex-grow: 10; */
    width: 80%;
    margin-right: 10% !important;
    /* float: left; */
    margin-right: 20px;
}

@media(max-width:768px) {
    .songHeader {
        display:none;
    }
    .songMobile{
        display:block;
    }
    .expandNav {
        left:16%;
    }
}

@media(max-width:550px) {
    .expandNav{
        display:none;
    }
    .Navbar{ 
        margin-top:0;
        width:10%;
        display:flex;

    }
    .songMobile {
        display:none;
    }
}