.flexbox {
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 10px auto 0px;
    height:30px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.metText {
    width:25%;
    text-align:center;
}
.metTextVal {
    width: 20%;
    margin: 5px auto;
    border: 1px solid #0285c3;
    border-bottom: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.flexbox button {
    background: none;
    border: none;
    width: 15%;
    background-color: #0285c3;
    color:white;
    cursor:pointer;
}

.hr {
    display:none;    
    width:25%; 
    margin-top:10px;   
}
.actBtns {
    background: none;
    border: none;
    display:block;
    margin:10px auto;
    background-color: #0285c3;
    color:white;
    cursor:pointer; 
    border-radius:5px;
    width:65%;
    padding:2px;
    height:30px;
}

.denom {    
    display:none;
    margin: 0px auto 15px;
    border-radius: 20px;
    width: 40px;
    box-sizing: content-box;
    justify-content: center;
    flex-wrap: wrap;
    width:100%;
}

.denom input{
    position: fixed;
    opacity: 0;
}

.denom label {
    margin: 2.5px 10px;
    flex-grow: 1;
    padding: 2.5px;
    width: 20%;
    border: 1px solid #a9a9a9;
    display: inline-block;
    box-sizing: content-box;
    cursor: pointer;
}

[name="denom"]:checked + label {
    background-color: #0285c3;
    color:white; 
}

[name="denom"]:focus +label {
    border-color: #2abaff
}

.num {
    display: none;
    text-align: center;
    padding: 2.5px;
    margin: auto;
    width: 25%;
    height: 22.2px;
    border: 1px solid rgb(169,169,169);
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 15px;
    text-overflow: '';
}
button:hover {
    background-color:#2abaff;
    transition:.1s;
}

.timeSigLbl {
    display:none;
    margin: 0px auto 10px;
}

.expand {
    border-bottom: 1.5px solid rgba(0,0,0,.54);
    border-right: 1.5px solid rgba(0,0,0,.54);
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    display: block;
    margin: auto;
    bottom: 30px;
    right: 20px;
    transition: .5s;
    cursor: pointer;
}

:global(.maximize) .denom {display:flex;}
:global(.maximize) .num {display:block;}
:global(.maximize) .expand {transition: .5s;transform: rotate(225deg)}
:global(.maximize) .hr {display:block;}
:global(.maximize) .timeSigLbl{display:block;}

/*range input*/
input[type=range][name='met'] {
    -webkit-appearance: none;
    width: 60%;
    margin: 5.8px 0;
  }
  input[type=range][name='met']:focus {
    outline: none;
  }
  input[type=range][name='met']::-webkit-slider-runnable-track {
    width: 60%;
    height: 8.4px;
    cursor: pointer;
    background: #dadada;
    border-radius: 1.3px;
  }
  input[type=range][name='met']::-webkit-slider-thumb {
    height: 20px;
    width: 19px;
    border-radius: 50px;
    background: #0285c3;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
  }
  input[type=range][name='met']:focus::-webkit-slider-runnable-track {
    background: #dadada;
  }
  input[type=range][name='met']::-moz-range-track {
    width: 60%;
    height: 8.4px;
    cursor: pointer;
    background: #dadada;
    border-radius: 1.3px;
  }
  input[type=range][name='met']::-moz-range-thumb {
    height: 20px;
    width: 19px;
    border-radius: 50px;
    background: #0285c3;
    cursor: pointer;
  }
  input[type=range][name='met']::-ms-track {
    width: 60%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range][name='met']::-ms-fill-lower {
    background: #0285c3;
    border-radius: 2.6px;
  }
  input[type=range][name='met']::-ms-fill-upper {
    background: #2abaff;
    border-radius: 2.6px;
  }
  input[type=range][name='met']::-ms-thumb {
    height: 20px;
    width: 19px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
    height: 8.4px;
  }
  input[type=range][name='met']:focus::-ms-fill-lower {
    background: #dadada;
  }
  input[type=range][name='met']:focus::-ms-fill-upper {
    background: #dadada;
  }
  