.ToolboxSlider {
    width: 1000px;
    position: fixed;
    background-color: #0285c3;
    bottom: 50px;
    left: -930px;
    height: 175px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: .5s;
    display: flex;
}

.ToolboxSliderShow{
    left:0px !important;
    transition: .5s;
}

.Tool {
    flex-direction: column;
    display: flex;
    text-align: center;
    width: 31%;
    color: white;
    font-size: 1.3rem;
    justify-content: flex-end;
    overflow: hidden;
    cursor: pointer;
    transition: .2s;
}

.ExpandIcon {
    width: 7%;
    color: white;
    font-size: 3rem;
    text-align: center;
    cursor: pointer;
}

.Tool:hover {
    color: #0285c3;
    transition: .2s;
    background-color: #f4ebee;
    border: 1px solid #0285c3;

}

.Tool svg {
    height: 6rem;
    width:100%;
}
